.page
  %p
    %em "I don't even watch videos on YouTube anymore I just read the top comments."
  %p
    <a href="http://ucommently.com/">UCommently</a> was created for the
    <a href="http://railsrumble.com">RailsRumble</a> competition.
  %p
    Find some Funny <a href="http://youtube.com/">YouTube</a> Top Comments and send them in.
