!!! 5
%html
  %head
    %title UCommently - Funny YouTube Comments for Entertainment Purposes Only!
    %meta{ name: 'viewport', content: 'width=device-width, minimum-scale=0.5, maximum-scale=0.5' }/
    %link{ rel: :icon, href: to('/favicon.ico'), type: 'image/x-icon'}/
    %link{ rel: :stylesheet, type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Droid' }/
    %link{ rel: :stylesheet, type: 'text/css', href: to('/assets/stylesheets/normalize.css') }/
    %link{ rel: :stylesheet, type: 'text/css', href: to('/assets/stylesheets/application.css') }/
  %body
    = yield
