!!! 5
%html
  %head
    %title UCommently - Funny YouTube Comments
    %meta{ name: 'viewport', content: 'width=device-width, minimum-scale=0.5, maximum-scale=0.5' }/
    %link{ rel: :icon, href: to('/favicon.ico'), type: 'image/x-icon'}/
    %link{ rel: :stylesheet, type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Montserrat+Alternates' }/
    %link{ rel: :stylesheet, type: 'text/css', href: to('/assets/stylesheets/application.css') }/
  %body
    - if flash[:notice]
      .notice= flash[:notice]
    .header
      .container
        .navigation.rcolumn
          %ul
            %li
              %a{ href: '/', class: (request.path_info == '/') ? 'selected' : nil } Home
          %ul
            %li
              %a{ href: '/about', class: (request.path_info == '/about') ? 'selected' : nil } About
        .lcolumn
          %h1
            %a.brand{ href: 'http://ucommently.com/'}
              %span> U
              %span> Commently
          .tagline Funny YouTube Comments
        .clear
    .main
      .container
        .action-call
          .send-form
            %form{ action: to('/send_comments'), method: 'post' }
              %fieldset
                %label
                  Seen some funny Top Comments?<br/>
                  %input{ name: 'url', type: 'text', placeholder: 'eg http://www.youtube.com/watch?v=8e9zz-mU4JU', value: '' }
                %input{ type: 'submit', value: 'Send Them' }
          .sign-up
            .title Want to Join In?
            %a.button{ href: to('/facebook_login') }
              &nbsp;&nbsp;&nbsp;Join <em>with</em> Facebook
          .clear
        = yield
    .clear
    .footer
      .container
        .lcolumn
          &copy; <a href='mailto:contact@ucommently.com'>UCommently</a>. All Rights Reserved. Zero affiliation with YouTube.
        .rcolumn.navigation
          %ul
            %li
              %a{ href: '#' } Terms
            %li
              %a{ href: '#' } Privacy Policy
            %li
              %a{ href: 'mailto:nick@nickbarth.ca' } Contact
        .clear
    %script{ type: 'text/javascript', src: to('http://code.jquery.com/jquery-1.8.2.min.js') }
    %script{ type: 'text/javascript', src: to('/assets/javascripts/application.js') }
    :javascript
      var _gaq = _gaq || []; 
      _gaq.push(['_setAccount', '_____']);
      _gaq.push(['_setDomainName', 'ucommently.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); 
      })();
